.container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(192, 192, 192, 0.788);
  z-index: 999;
}

.wrapper {
  position: relative;
  padding: 20px;
  width: 700px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
}

.close {
  position: absolute;
  right: 5px;
  top: 0px;
  color: red;
  font-size: 16px;
  font-weight: 600;
  padding: 3px;
  cursor: pointer;
}

.title {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 50px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.label {
  font-size: 18px;
}

.input {
  margin-left: 20px;
  border: none;
  padding: 0px 10px;
  border-bottom: 1px solid black;
  font-size: 18px;
  outline: none;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order {
  padding: 7px 20px;
  margin: 10px;
  font-size: 18px;
  font-weight: 300;
  color: white;
  background-color: teal;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel {
  padding: 7px 20px;
  margin: 10px;
  font-size: 18px;
  font-weight: 300;
  color: white;
  background-color: crimson;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
