.container {
  padding: 50px;
  display: flex;
  position: relative;
}

.leftContainer {
  flex: 2;
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
}

.table {
  width: 100%;
  border-spacing: 20px;
  text-align: left;
}

.name {
  font-weight: 500;
  color: #d1411e;
  font-size: 18px;
}

.total {
  font-weight: 500;
  font-size: 18px;
}

.rightContainer {
  flex: 1;
}

.wrapper {
  width: 90%;
  min-height: 300px;
  background-color: #333;
  padding: 50px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.totalTextTitle {
  margin-right: 10px;
}

.button {
  height: 30px;
  color: crimson;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.paymentMethods {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 0px 0px 20px 0px;
  margin-top: 20px;
}

.cash {
  border: none;
  height: 37px;
  width: 200px;
  background-color: teal;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
  font-weight: 300;
}

.paymentTitle {
  font-size: 26px;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .trTitle {
    display: none;
  }

  .tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .imgContainer {
    width: 35vw;
    height: 35vw;
  }

  .name,
  .total {
    font-size: 24px;
  }

  .extras,
  .price,
  .quantity {
    font-size: 22px;
  }

  .price::before {
    content: "Price: ";
    font-weight: bold;
  }

  .total::before {
    content: "Total: ";
    font-weight: bold;
  }

  .quantity::before {
    content: "Quantity: ";
    font-weight: bold;
  }

  .wrapper {
    width: 100%;
  }
}
